<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.sensor.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.iot.sensor.model.User">

        <id column="id" jdbcType="BIGINT" property="id"/>

        <result column="number" jdbcType="VARCHAR" property="number"/>

        <result column="name" jdbcType="VARCHAR" property="name"/>

        <result column="parent_phone" jdbcType="VARCHAR" property="parentPhone"/>

        <result column="gender" jdbcType="TINYINT" property="gender"/>

        <result column="class_number" jdbcType="VARCHAR" property="classNumber"/>

    </resultMap>


    <select id="findByPrimaryId" resultMap="BaseResultMap">
        select * from user
        where id = #{id};
    </select>


    <select id="findByNumberAndName" resultMap="BaseResultMap">
        select * from user
        where number = #{number} and name = #{name};
    </select>

</mapper>